body{
    max-width: 1200px;
    margin:0 auto ;
    text-align: center;
}
button {
    border: none;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 12px;
}

button:hover{
    color: black;
    background-color:white;
    font-weight: bolder;
    border: 2px solid #000;
  }
.card{
    box-shadow: 0 4px 8px gainsboro;
    max-width: 240px;
    margin:0 auto;
    text-align: center;
}